@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
/* css opacity from 0 to 1 */
@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
:root {
  --radius-pic: 8px;
  }
/* document */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color: black;
}
#container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
/* big img background */
#eyesImg {
  height: 100%;
  width: auto;
  float: right;
}
/*for javascript add oneEyes and move img */
.twoEyes.oneEyes {
  transform: translateX(65%);
  transition: all 2s ease;
}
/* all img div */
/* smooth opacity keyframes */
.keyFrames {
  animation-name: opacityChange;
  animation-duration: 3s;
}

/* class for all div witch img and link */
.divLinkImg {
  visibility: hidden;
  height: 25%;
  width: 20%;
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

/* id for home 1 div */
#divHome {
  margin: 70px 80px;
}
/* id for o mnie 2 div */
#divAboutMe {
  margin: 70px 580px;
}
/* id for potfolio 3 div */
#portfolioDiv {
  margin: 320px 80px;
}
/* id for kontakt 4 div */
#kontaktDiv {
  margin: 320px 580px;
}

/* text  */
.spanLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 50px;
  font-family: "Sacramento", cursive;
  color: #f0e68c;

  color: #daa520;
  color: #ffd700;
}
.divLinkImg:hover .spanLink {
  opacity: 1;
  z-index: 20;
}
/* img pur */
.divLinkImg img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  filter: grayscale(100%);
  /* -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
}
.divLinkImg:hover img {
  filter: grayscale(0%);
  /* -webkit-filter: blur(0px);
	filter: blur(0px); */
}
.topicSourceLink {
  display: none;
  animation-name: opacityChange;
  animation-duration: 3s;
  color: white;
  position: absolute;
  left: 50px;
  font-size: 2rem;
  right: 15px;
  width: 60%;
  height: 50%;
  overflow: auto;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: gray black;
  z-index: 20;
  padding: 10px;
}
/*topic dla podstrony */
.topicText {
  left: 50px;
  top: 20px;
  font-size: 2.5rem;
}
/*navigation links*/
.navLink {
  bottom: 20px;
  width: auto;
  height: auto;
}
.navLink:hover{
cursor: pointer;
}
/*tekst dla podstrony */
.tekstLink {
  left: 50px;
  top: 100px;
  font-size: 2rem;
  right: 15px;
  width: 60%;
  height: 50%;
  overflow: auto;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: gray black;
  padding: 10px;
}
/*portfolio  grafik */
.clickImg{
	width: 150px;
	height: 150px;
  display: block;
  border-radius: var(--radius-pic);
  cursor: pointer;
}
.firstFotoGalery{
padding: 5px;
width: 100px;
  height: 100px;
border-radius: var(--radius-pic);
cursor: pointer;
}
.imgBlackBg{
  background-color: rgba(0,0,0,.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;


  z-index: 30;
  display: none;
 text-align: center;
}
.fullImg{
  width: 500px;
  height: 500px;
 margin-top:5%;
}




@media screen and (max-width: 430px){
/* class for all div witch img and link */
.divLinkImg {
    height: 90px;
  width: 90px;
  }

/* id for home 1 div */
#divHome {
  margin: 10px 10px;
}
/* id for o mnie 2 div */
#divAboutMe {
  margin: 10px 140px;
}
/* id for potfolio 3 div */
#portfolioDiv {
  margin: 160px 10px;
}
/* id for kontakt 4 div */
#kontaktDiv {
  margin: 160px 140px;
}

/* text img link*/
.spanLink {
      font-size: 20px;
  }
/*links text down */ 
.topicSourceLink {
 
  
  left: 10px;
  font-size: 1.5rem;
  right: 10px;
  width: 60%;
  height: 50%;
  padding: 10px;
}
/*topic dla podstrony */
.topicText {
  left: 10px;
  top: 5px;
  font-size: 1.5rem;
}
/*navigation links footer*/
.navLink {
  bottom: 20px;
  width: auto;
  height: auto;
font-size: 1.2rem;
}
/*tekst dla podstrony */
.tekstLink {
  left: 5px;
  top: 80px;
  font-size: 1rem;
  right: 10px;
  width: 80%;
  height: 50%;
  padding: 10px;
}
/*portfolio  grafik */
.clickImg{
  width: 90px;
  height: 90px;
 
}
.firstFotoGalery{
padding: 5px;
width: 80px;
  height: 100px;

}
.imgBlackBg{
   text-align: center;

}
.fullImg{
  width: 250px;
  height: 350px;
 margin-top:60px;
}

}